@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1>TEST</h1>
        <h1>TEST GITIGNORE ONE FILE</h1>
        <h1>TEST GIT FOR ALL FILES IN DIRECTORY</h1>
        <h2>Second test for gitignore for all files</h2>
    </div>
