@using Psychology_Centre.Models
@model Client
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form method="post" asp-controller="Clients" asp-action="Index">
        Имя: <input type="text" asp-for="Name"/>
        <span asp-validation-for="PhoneNumberFirst"></span> <br />
        <input type="submit" />
    </form>
</body>
</html>
