<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Psychology_Centre</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <div class="topnav fixed-top">
            <a class="active" asp-area="" asp-controller="Home" asp-action="Index">psychology center</a>
            <a asp-area="" asp-controller="Home" asp-action="Privacy">1111 - Администратор</a>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="footer1 fixed-bottom">
            <a asp-area="" asp-controller="Home" asp-action="Index">Главная страница</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Отчёты</a>
            <a asp-area="" asp-controller="Clients" asp-action="Index">Клиенты</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Информация</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Отчёты</a>
            <a asp-area="" asp-controller="Home" asp-action="Index">Электронное расписание</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
